<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="32000">
    <setting label="32159" type="lsep" />

    <setting label="32125" id="use_elementum_proxy" type="bool" default="true" />
    <setting id="elementum_proxy_help" label="32139" type="text" enable="false" subsetting="true" />

    <setting label="32084" id="use_public_dns" type="bool" default="false" enable="eq(-2,false) + eq(3,false)" />
      <setting id="public_dns_list" label="32093" type="text" default="8.8.8.8, 8.8.4.4, 9.9.9.9" enable="eq(-1,true) + eq(-3,false)" />
      <setting id="opennic_dns_list" label="32094" type="text" default="94.247.43.254, 152.53.15.127, 185.181.61.24" enable="eq(-2,true) + eq(-4,false)" />
    <setting label="32140" id="use_tor_dns" type="bool" default="false" enable="eq(-3,false)" />
    <setting id="tor_dns_help" label="32141" type="text" enable="false" subsetting="true" />

    <setting label="32160" type="lsep" />
    <setting label="32143" id="overrides_path" type="folder" default="special://profile/addon_data/script.elementum.burst/os.path.join(translatePath(ADDON_PROFILE), 'overrides.json')" source="auto" option="writeable" />

    <setting label="32161" type="lsep" />
    <setting label="32033" id="min_size" type="slider" option="float" range="0,0.25,100" default="0" />
    <setting label="32034" id="max_size" type="slider" option="float" range="1,0.25,500" default="100" />
    <setting label="32040" id="max_results" type="slider" default="20" option="int" range="1,1,100" />
    <setting label="32119" id="sort_by" type="enum" lvalues="32120|32121|32122|32123" default="0" />

    <setting label="32162" type="lsep" />
    <setting label="32124" id="auto_timeout" type="bool" default="true" />
    <setting label="32070" id="timeout" type="slider" default="25" option="int" range="3,1,180" enable="eq(-1,false)" />
    <setting label="32071" id="timeout_help" type="text" enable="false" subsetting="true" />

    <setting label="32220" type="lsep" />
    <setting label="32221" id="show_providers_name" type="bool" default="false" />
    <setting label="32222" id="check_seeders_peers" type="bool" default="true" />
    <setting label="32223" id="custom_elementum_settings" type="bool" default="false" />
    <setting label="32224" type="action" action="RunScript(script.elementum.burst,update_providers)" option="close" />

    <setting label="32163" type="lsep" />
    <setting label="32164" id="use_custom_user_agent" type="bool" default="false" />
      <setting id="custom_user_agent" label="32165" type="text" default="" enable="eq(-1,true)" />
  </category>

<!-- Cookie Sync -->
  <category label="32151">
    <setting label="32152" id="cookie_sync_enabled" type="bool" default="true" />

    <setting label="32153" id="cookie_sync_token" type="text" enable="eq(-1,true)" />
    <setting label="32154" id="cookie_sync_password" type="text" enable="eq(-2,true)" />
    <setting label="32155" id="cookie_sync_gist_id" type="text" enable="eq(-3,true)" />
    <setting label="32156" id="cookie_sync_filename" type="text" enable="eq(-4,true)" default="kevast-gist-default.json" />
    <setting label="32157" id="cookie_sync_fileurl" type="text" enable="eq(-5,true)" default="" />
  </category>

  <!-- Providers -->
  <category label="32199">
    <!-- Providers-Brazil-Begin -->

    <setting label="[B]bludv[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_bludv" type="bool" default="false" />
      <setting id="bludv_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="bludv_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

   <setting label="[B]baixafilmestorrent2025[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_baixafilmestorrent2025" type="bool" default="false" />
      <setting id="baixafilmestorrent2025_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="baixafilmestorrent2025_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]baixafilmestorrent[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_baixafilmestorrent" type="bool" default="false" />
      <setting id="baixafilmestorrent_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="baixafilmestorrent_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]baixofilmestorrent[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_baixofilmestorrent" type="bool" default="false" />
      <setting id="baixofilmestorrent_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="baixofilmestorrent_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]BitSearch[/B]   [COLOR gray][$ADDON[script.elementum.burst 32111]][/COLOR]" id="use_bitsearch" type="bool" default="false" />
      <setting id="bitsearch_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="bitsearch_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]cmd1[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_cmd1" type="bool" default="false" />
      <setting id="cmd1_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="cmd1_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]cmd3[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_cmd3" type="bool" default="false" />
      <setting id="cmd3_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="cmd3_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]comandofilmeshd[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_comandofilmeshd" type="bool" default="false" />
      <setting id="comandofilmeshd_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="comandofilmeshd_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]comandotorrents[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_comandotorrents" type="bool" default="false" />
      <setting id="comandotorrents_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="comandotorrents_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]comandotorrent[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_comandotorrent" type="bool" default="false" />
      <setting id="comandotorrent_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="comandotorrent_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]comandofilmestorrent[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_comandofilmestorrent" type="bool" default="false" />
      <setting id="comandofilmestorrent_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="comandofilmestorrent_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]darkmahou[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_darkmahou" type="bool" default="false" />
      <setting id="darkmahou_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="darkmahou_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]filmestorrent[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_filmestorrent" type="bool" default="false" />
      <setting id="filmestorrent_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="filmestorrent_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]filmes[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_filmes" type="bool" default="false" />
      <setting id="filmes_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="filmes_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]limontorrents[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_limontorrents" type="bool" default="false" />
      <setting id="limontorrents_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="limontorrents_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]seriefilmehd[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_seriefilmehd" type="bool" default="false" />
      <setting id="seriefilmehd_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="seriefilmehd_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]starckfilmes[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_starckfilmes" type="bool" default="false" />
      <setting id="starckfilmes_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="starckfilmes_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]Nyaa[/B]   [COLOR gray][$ADDON[script.elementum.burst 32111]][/COLOR]" id="use_nyaa" type="bool" default="false" />
      <setting id="nyaa_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="nyaa_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]torrentdosfilmes[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_torrentdosfilmes" type="bool" default="false" />
      <setting id="torrentdosfilmes_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="torrentdosfilmes_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]torrentsdosfilmes[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_torrentsdosfilmes" type="bool" default="false" />
      <setting id="torrentsdosfilmes_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="torrentsdosfilmes_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />

    <setting label="[B]velozfilmes[/B]   [COLOR gray][$ADDON[script.elementum.burst 32258]][/COLOR]" id="use_velozfilmes" type="bool" default="false" />
      <setting id="velozfilmes_alias" label="32077" type="text" default="" subsetting="true" visible="eq(-1,true)" />
      <setting id="velozfilmes_contains" type="enum" label="32080" subsetting="true" lvalues="32081|32082|32083" visible="eq(-2,true)" />
    <!-- Providers-Brazil-End -->
  </category> 


  <!-- Filtering -->
  <category label="32087">
    <setting label="32088" type="lsep" />
    <setting label="32089" id="require_resolution" type="bool" default="true" />
    <setting label="32090" id="require_keywords" type="bool" default="true" />
    <setting label="32091" id="require_release_type" type="bool" default="true" />
    <setting label="32092" id="require_size" type="bool" default="true" />
    <setting label="32078" id="allow_noseeds" type="bool" default="true" />
  </category>

  <!-- Resolution -->
  <category label="32133">
    <setting label="[B]4K/2160p[/B]" id="filter_4k" type="bool" default="true" />
    <setting label="[B]2K/1440p[/B]" id="filter_2k" type="bool" default="true" />
    <setting label="[B]1080p[/B]" id="filter_1080p" type="bool" default="true" />
    <setting label="[B]720p[/B]" id="filter_720p" type="bool" default="true" />
    <setting label="[B]480p[/B]" id="filter_480p" type="bool" default="true" />
    <setting label="[B]240p[/B]" id="filter_240p" type="bool" default="false" />
  </category>

  <!-- Video quality -->
  <category label="32134">
    <setting label="[B]BRRip/BDRip/Bluray[/B]" id="filter_brrip" type="bool" default="true" />
    <setting label="[B]WebDL/WebRip[/B]" id="filter_webdl" type="bool" default="true" />
    <setting label="[B]HDRip[/B]" id="filter_hdrip" type="bool" default="true" />
    <setting label="[B]HDTV[/B]" id="filter_hdtv" type="bool" default="true" />
    <setting label="[B]DVDRip[/B]" id="filter_dvd" type="bool" default="true" />
    <setting label="[B]DVDScr[/B]" id="filter_dvdscr" type="bool" default="true" />
    <setting label="[B]Screener/SCR[/B]" id="filter_screener" type="bool" default="true" />
    <setting label="[B]3D[/B]" id="filter_3d" type="bool" default="false" />
    <setting label="[B]TeleSync/TS/TC[/B]" id="filter_telesync" type="bool" default="false" />
    <setting label="[B]Cam/HDCam[/B]" id="filter_cam" type="bool" default="false" />
    <setting label="[B]TVRip/SATRip[/B]" id="filter_tvrip" type="bool" default="true" />
    <setting label="[B]IPTVRip[/B]" id="filter_iptvrip" type="bool" default="true" />
    <setting label="[B]VHSRip[/B]" id="filter_vhsrip" type="bool" default="false" />
    <setting label="[B]Trailer[/B]" id="filter_trailer" type="bool" default="false" />
    <setting label="[B]Workprint[/B]" id="filter_workprint" type="bool" default="false" />
    <setting label="[B]Line[/B]" id="filter_line" type="bool" default="false" />
  </category>

  <!-- Proxy -->
  <category label="32095">
      <setting label="32095" type="lsep" />
      <setting id="proxy_help" label="32158" type="text" enable="false" />
      <setting id="proxy_enabled" label="32096" type="bool" default="false" />
        <setting id="proxy_use_type" label="32106" type="enum" default="2" subsetting="true" lvalues="32107|32108|32138" enable="eq(-1,true)" />
        <setting id="proxy_type" label="32101" type="enum" default="5" subsetting="true" lvalues="32102|32103|32104|32105|32136|32137" enable="eq(-1,1)" />
        <setting id="proxy_host" label="32097" type="text" default="" subsetting="true" enable="eq(-2,1)" />
        <setting id="proxy_port" label="32098" type="number" default="1080" subsetting="true" enable="eq(-3,1)" />
        <setting id="proxy_login" label="32099" type="text" default="" subsetting="true" enable="eq(-4,1)" />
        <setting id="proxy_password" label="32100" type="text" default="" option="hidden" subsetting="true" enable="eq(-5,1)" />
  </category>

  <!-- Advanced -->
  <category label="32004">
    <setting label="32035" id="separate_sizes" type="bool" default="false" />
    <setting label="32006" type="lsep" subsetting="true" enable="eq(-1,true)" />
    <setting label="32033" id="min_size_movies" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" enable="eq(-2,true)" />
    <setting label="32034" id="max_size_movies" type="slider" option="float" range="1,0.25,200" default="100" subsetting="true" enable="eq(-3,true)" />
    <setting label="32008" type="lsep" subsetting="true" enable="eq(-4,true)" />
    <setting label="32033" id="min_size_seasons" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" enable="eq(-5,true)" />
    <setting label="32034" id="max_size_seasons" type="slider" option="float" range="1,0.25,200" default="100" subsetting="true" enable="eq(-6,true)" />
    <setting label="32009" type="lsep" subsetting="true" enable="eq(-7,true)" />
    <setting label="32033" id="min_size_episodes" type="slider" option="float" range="0,0.25,100" default="0" subsetting="true" enable="eq(-8,true)" />
    <setting label="32034" id="max_size_episodes" type="slider" option="float" range="1,0.25,200" default="100" subsetting="true" enable="eq(-9,true)" />
    <setting type="sep" />
    <setting label="32036" id="additional_filters" type="bool" default="true" />
    <setting label="32149" id="filtering_help1" type="text" enable="false" subsetting="true" />
    <setting label="32038" id="accept" type="text" default="" subsetting="true" enable="eq(-2,true)" />
    <setting label="32039" id="block" type="text" default="(2012-2013-2014-2015), Listão de Filmes, Marcam Época, Baixar Filmes Indicados, Uploader:, JTAG-RGH, JOGOS PC GAMER, rartv, TGx, YTS.MX, NTb, GalaxyRG, GalaxyTV, RARBG, ettv, eztv, SuccessfulCrab, ETHEL, FLUX, MINX, T0PAZ, LOL, DIMENSION, GLHF, FLEET, KILLERS, SVA, AFG, state, ExYu-Subs, Multiple Subtitle" subsetting="true" enable="eq(-3,true)" />
    <setting label="32017" id="require" type="text" default="" subsetting="true" enable="eq(-4,true)" />
    <setting label="32150" id="filtering_help2" type="text" enable="false" subsetting="true" />
    <setting type="sep"/>
    <setting label="32132" id="filter_quotes" type="bool" default="false" />
    <setting label="32146" id="overwrite_anime_original_title" type="enum" default="1" lvalues="32148|32147|32111" />
    <setting label="32018" id="kodi_language" type="bool" default="true" />
    <setting label="32050" id="language_exceptions" type="text" subsetting="true" enable="eq(-1,true)" />
    <setting label="32051" id="language_help" type="text" enable="false" subsetting="true" />

    <setting label="32085" type="lsep" />
    <setting label="32086" id="use_debug_parser" type="bool" default="true" />
  </category>

  <!-- Similarity Filter Weights -->
  <category label="32200">
    <setting label="32096" id="use_similarity_filter" type="bool" default="true" />
    <setting label="32201" id="sim_filter_minimum" type="slider" option="float" range="0,0.02,1" default="0.34" subsetting="true" enable="eq(-1,true)" />
    <setting label="32202" id="sim_filter_acceptable" type="slider" option="float" range="0,0.02,1" default="0.42" subsetting="true" enable="eq(-2,true)" />
    <setting label="32203" id="sim_filter_good" type="slider" option="float" range="0,0.02,1" default="0.68" subsetting="true" enable="eq(-3,true)" />
  </category>

  <!-- Maintenance -->
  <category label="32144">
    <setting type="action" label="32145" option="close" action="RunScript(script.elementum.burst, clear_cookies)" />
  </category>

</settings>
